body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #84aea1, #b7d3c6);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 80%;
    max-width: 600px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.box:last-child {
    border: 3px solid #737dbc;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border: 5px solid #84aea1;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    border-color: #737dbc;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    margin: 10px 0;
}

ul li strong, ol li em {
    color: #737dbc;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #737dbc;
}

a:focus {
    outline: 2px dashed #007BFF;
}
